# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# FTP & SFPT syncing files(contains credentials)
ftpsync.settings
simple-ftp-deploy.json
sftp-config.json
sftp-config-alt.json

# (Live) Machine Learning datasets
ml/**/data
ml/**/original_data
ml/**/model
ml

# CMake junk
**/CMakeFiles
**/CMakeCache.txt

libs